


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Ayubo Lanka Login</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href=" {% static 'css/login.css' %}">
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'images/t.mp4' %}" type="video/mp4">
       
    </video>
    <form method="post">
        <h3>Login Here</h3>
        {% csrf_token %} 
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <button type="submit">Log In</button><br><br>
        
        <a href="{% url 'signup' %}" >Create a account</a> 
    </form>
</body>
</html>
<!-- <video src="{% static 'images/t.mp4' %}" class="video-bg" autoplay loop muted></video>  -->
